* {
  box-sizing: border-box;
}
#content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.board-container {
  display: grid;
  grid-template-rows: 25px 250px;
  grid-template-columns: 25px 250px;
}
.board {
  display: grid;
  grid-template-rows: repeat(10, 25px);

  grid-template-columns: repeat(10, 25px);

  margin-bottom: 20px;
  grid-row: 2;
  grid-column: 2;
}
.board-tile {
  border: 1px solid black;
}

.player-ship {
  background-color: green;
}
.hit {
  background-color: red;
}
.miss {
  background-color: aqua;
}

.game-over-screen {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  //opacity: 0.7;
  z-index: 1;
  background-color: silver;
  border: 3px solid black;
}
.x-axis div,
.y-axis div {
  border: 1px solid black;
  text-align: center;
  height: 25px;
  width: 25px;
}
.x-axis {
  display: grid;
  grid-template-columns: repeat(10, 25px);
  grid-row: 1;
  grid-column: 2;
}
.y-axis {
  grid-template-rows: repeat(10, 25px);
  width: 25px;
  grid-row: 2;
  grid-column: 1;
}
